<h1>講師マイページ</h1>
メッセージ：<%= flash.now[:notice] %>

<table>
  <tr> <th>講師ID</th> <td><%= @user %></td> </tr>
  <tr> <th>講師名</th> <td><%= @users.name %></td> </tr>
</table>

<table border="1" style="float:left">
  <th>登録日</th>
<% if @freedays.length == 0 then %>
    <tr>
      <td>未登録</td>
    </tr>
<% else %>
<%= form_tag action: :delete_free do %>
  <% @freedays.each do |f|  %>
    <tr>
      <td>
        <%= check_box_tag("freeday_id[]", f.id ) %>
        <%= f.begin %>〜<%= f.end %>
      </td>
    </tr>
  <% end %>
  <%= submit_tag '選択日付削除' %>
 <% end %>
<% end %>
</table>

<%= form_for(@freeday, :url => {:action => 'create_free'} ,method: :post) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @user %>
    <%= f.date_field :begin ,size: 35 %> 〜 <%= f.date_field :end ,size: 35 %>
    <%= f.submit '日付登録' %>
  </div>

<% end %>


<table border="1" style="clear:left">
  <th>登録済みスキル</th>
<% if @skills.length == 0 then %>
  <tr>
    <td>未登録</td>
  </tr>
<% end %>
<% @skills.each do |f|  %>
  <tr>
    <td>
      <%= check_box_tag("skill_id[]", f.id ) %>
      <%= f.skill_master.skilltype %>
    </td>
  </tr>
<% end %>
</table>

<hr>
