<h1>講師マイページ</h1>
メッセージ：
<% if flash.empty? then %>
  なし
<% else %>
  <%= flash.now[:notice] %>
<% end %>

<!-- 講師情報 -->
<table>
  <tr> <th align='left'>講師ID</th> <td><%= @usr.id %></td> </tr>
  <tr> <th align='left'>講師名</th> <td><%= @usr.name %></td> </tr>
  <tr> <th align='left'>平均評価</th> <td><%= @score.average(:score)  %></td> </tr>
</table>

<!-- 期間登録 -->
<%= form_for(@newfreeday, :url => {:action => 'create_free'} ,method: :post) do |f| %>
  <%= f.hidden_field :user_id, :value => @usr.id %>
  <%= f.date_field :begin  %> 〜 <%= f.date_field :end  %>
  <%= f.submit '期間登録' %>
<% end %>

<!-- スキル登録 -->
<% if @addskills.present? then %>
  <%= form_tag action: :add_skill do %>
    <%= select_tag :addskill, options_from_collection_for_select(@addskills ,:id ,:skilltype ) %>
    <%= submit_tag 'スキル登録' %>
  <% end %>
<% end %>

<!-- 受付期間 -->
<div>
  <table border="1">
    <th>申請受付期間</th>
    <% if @freedays.empty? then %>
      <tr>
        <td>未登録</td>
      </tr>
    <% else %>
      <%= form_tag action: :delete_free  do %>
        <% @freedays.each do |f|  %>
          <tr>
            <td>
              <%= check_box_tag("freeday_id[]", f.id ) %>
              <%= f.begin %>〜<%= f.end %>
            </td>
          </tr>
        <% end %>
        <%= submit_tag '選択期間削除' %>
      <% end %>
    <% end %>
  </table>
</div>

<!-- 登録スキル -->
<div>
  <table border="1">
    <th>登録済みスキル</th>
    <% if @skills.length == 0 then %>
      <tr>
        <td>未登録</td>
      </tr>
    <% else %>
      <%= form_tag action: :delete_skill do %>
        <% @skills.each do |f|  %>
          <tr>
            <td>
              <%= check_box_tag("skill_id[]", f.id ) %>
              <%= f.skill_master.skilltype %>
            </td>
          </tr>
        <% end %>
        <%= submit_tag '選択スキル削除' %>
      <% end %>
    <% end %>
  </table>
</div>

<hr style="clear:left">
