<h1>講師マイページ</h1>
<%= notice %>

<table>
  <tr><th>講師ID</th> <td><%= @user %></td></tr>
  <tr><th>講師名</th> <td><%= @users.name %></td></tr>
</table>

<table border="1">
  <th>登録日</th>
  <% if @freedays.length == 0 then %>
    <tr><td>未登録</td></tr>
  <% end %>
  <% @freedays.each do |f|  %>
    <tr><td><%= f.begin %>〜<%= f.end %></td></tr>
  <% end %>
</table>

<table border="1">
  <th>登録日追加</th>
  <tr><td>追加用</td></tr>
</table>

<table border="1">
  <th>登録済みスキル</th>
    <% if @skills.length == 0 then %>
      <tr><td>未登録</td></tr>
    <% end %>
  <% @skills.each do |f|  %>
    <tr><td><%= f.skill_master.skilltype %></td></tr>
  <% end %>
</table>
<br>

  <h3>通知</h3>
  <% if !@application.blank? then %> 
  <table border="1">
    <tr>
      <td>認証</td>
      <td>拒否</td>
      <td>会社名</td>
      <td>スキル</td>
      <td>日付</td>
    </tr>
    <% form_tag('/update', method: :post) do %>
    <% @application.each do |f| %> 
      <tr>
        <td><%= radio_button ':status', 'selected', '2,#{f.skill_master.skilltype}', {} %><br /></td>
        <td><%= radio_button ':status', 'selected', '3,#{f.skill_master.skilltype}', {} %><br /></td>
        <td><%= f.company.companyname %></td>
        <td><%= f.skill_master.skilltype %></td>
        <td><%= f.date %></td>
      </tr>
    <% end %>
  </table>

    <%= submit_tag('認証する'{ confirm: '認証しますか？'}) %>
  <% else %>
  <p>申請はありません</p>
  <% end %> 
  <% end %> 

  <h3>予定</h3>
  <% if !@plans.blank? then %>
  <table border="1">
    <tr>
      <td>会社名</td>
      <td>スキル</td>
      <td>日付</td>
    </tr>
    <% @plans.each do |f| %> 
      <tr>
        <td><%= f.company.companyname %></td>
        <td>
          <% @skills.each do |f|  %>
            <%= f.skill_master.skilltype %>
          <% end %>
        </td>
        <td><%= f.date %></td>
      </tr>
    <% end %>
  </table>    
  <% else %>
   <p>予定はありません<p>
  <% end %>