<div style="float:left">
  メッセージ：
  <% if flash.empty? then %>
    なし
  <% else %>
    <%= flash.now[:notice] %>
  <% end %>

  <!-- 講師情報 -->
  <table>
    <tr> <th align='left'>講師ID</th> <td><%= @usr.id %></td> </tr>
    <tr> <th align='left'>講師名</th> <td><%= @usr.name %></td> </tr>
    <tr> <th align='left'>平均評価</th> <td><%= @status.average(:score)  %></td> </tr>
  </table>

  <!-- 期間登録 -->
  <%= form_for(@newfreeday, :url => {:action => 'create_free'} ,method: :post) do |f| %>
    <%= f.hidden_field :user_id, :value => @usr.id %>
    <%= f.date_field :begin  %> 〜 <%= f.date_field :end  %>
    <%= f.submit '期間登録' %>
  <% end %>

  <!-- スキル登録 -->
  <% if @addskills.present? then %>
    <%= form_tag action: :add_skill do %>
      <%= select_tag :addskill, options_from_collection_for_select(@addskills ,:id ,:skilltype ) %>
      <%= submit_tag 'スキル登録' %>
    <% end %>
  <% end %>

  <!-- 受付期間一覧 -->
  <div style="float:left">
    <table border="1" >
      <th>申請受付期間</th>
      <% if @freedays.empty? then %>
        <tr>
          <td>未登録</td>
        </tr>
      <% else %>
        <%= form_tag action: :delete_free  do %>
          <% @freedays.each do |f|  %>
            <tr>
              <td>
                <%= check_box_tag("freeday_id[]", f.id ) %>
                <%= f.begin %>〜<%= f.end %>
              </td>
            </tr>
          <% end %>
          <%= submit_tag '選択期間削除' %>
        <% end %>
      <% end %>
    </table>
  </div>

  <!-- 登録スキル一覧 -->
  <div>
    <table border="1">
      <th>登録済みスキル</th>
      <% if @skills.length == 0 then %>
        <tr>
          <td>未登録</td>
        </tr>
      <% else %>
        <%= form_tag action: :delete_skill do %>
          <% @skills.each do |f|  %>
            <tr>
              <td>
                <%= check_box_tag("skill_id[]", f.id ) %>
                <%= f.skill_master.skilltype %>
              </td>
            </tr>
          <% end %>
          <%= submit_tag '選択スキル削除' %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<div>
  <table border="1">
    <tr>
      <th colspan="4">講師履歴</th>
    </tr>
    <tr>
      <th>会社名</th>
      <th>スキル</th>
      <th>日付</th>
      <th>評価</th>
    </tr>
    <% if @status.length != 0 %>
      <% @status.each do |f| %>
        <tr>
          <td><%= f.company.companyname %></td>
          <td><%= f.skill_master.skilltype %></td>
          <td><%= f.date %></td>
          <td align='center'><%= f.score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">なし</td>
      </tr>
    <% end %>
  </table>
</div>
<hr style="clear:left">

<h3>通知</h3>
<% if !@application.blank? then %>
<%= form_tag('lecturer/update', method: :post) do %>
<table border="1">
  <tr>
    <td>認証</td>
    <td>拒否</td>
    <td>会社名</td>
    <td>スキル</td>
    <td>日付</td>
  </tr>
  <% @application.each do |f| %>
    <tr>
      <td><%= radio_button_tag 'status', '2,#{f.skill_master_id}', {} %><br /></td>
      <td><%= radio_button_tag 'status', '3,#{f.skill_master_id}', {} %><br /></td>
      <td><%= f.company.companyname %></td>
      <td><%= f.skill_master.skilltype %></td>
      <td><%= f.date %></td>
    </tr>
  <% end %>
</table>
<%= submit_tag '認証する',date: {confirm: =>'認証しますか？'} %>
<% end %>
<% else %>
<p>申請はありません</p>
<% end %>

<h3>予定</h3>
<% if !@plans.blank? then %>
<table border="1">
  <tr>
    <td>会社名</td>
    <td>スキル</td>
    <td>日付</td>
  </tr>
  <% @plans.each do |f| %>
    <tr>
      <td><%= f.company.companyname %></td>
      <td>
        <% @skills.each do |f|  %>
          <%= f.skill_master.skilltype %>
        <% end %>
      </td>
      <td><%= f.date %></td>
    </tr>
  <% end %>
</table>
<% else %>
 <p>予定はありません<p>
<% end %>
