<!--
  確認画面
  ・入力フォーム画面での値を表示
  ・この画面の前にバリデーションチェック済み
  ・戻るボタンはnewページ(値は保持したまま)
  ・登録ボタンでDBに保存
-->

<%= form_for (@user) do |f| %>
  <div class="field">
    名前: <%= @user.name %>
    <%= f.hidden_field :name %>
  </div>

<!-- usertype=1の時に表示(企業名)-->
  <% if @user.usertype == 1 %>
    <%= f.fields_for :company  do |cf| %>
      <div class='field'>
        企業名: <%= @user.company.companyname %>
        <%= cf.hidden_field :companyname %>
      </div>
    <% end %>
  <% end %>


  <div class="field">
    電話番号: <%= @user.tel %>
    <%= f.hidden_field :tel %>
  </div>

  <div class="field">
    メールアドレス: <%= @user.mail_address %>
    <%= f.hidden_field :mail_address %>
  </div>

  <div class="field">
    パスワード: <%= @user.password.slice(0) %>
    <% i=0 %>
    <% while i < (@user.password.length - 1) do %>
      <%= '*' %>
      <% i = i+1 %>
    <% end %>
    <%= f.hidden_field :password %>
  </div>

  <div class="field">
    <%= f.hidden_field :usertype , :value => @user.usertype %>
  </div>

  <div class="actions">
    <%= f.submit '登録' %>
  </div>

  <div class="actions">
    <%= f.submit '戻る' , name: 'back' %>
  </div>

<% end %>
