<h1>ようこそ</h1>

<!-- 申請中 -->
<h3>申し込み中</h3>
  <table>
  <thead>
    <tr>
      <th>user_id</th>
      <th>skill</th>
      <th>date</th>
    </tr>
  </thead>

  <tbody>
    <% @Applying.each do |applying| %>
      <tr>
        <td><%= applying.user_id %></td>
        <td><%= applying.skill_master_id %></td>
        <td><%= applying.date %></td>
        <td><%= link_to '取り消し', company_path, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 承認待ち -->
<h3>承認待ち</h3>
<table>
<thead>
  <tr>
    <th>user_id</th>
    <th>skill</th>
    <th>date</th>
  </tr>
</thead>

<tbody>
  <% @Approval.each do |approval| %>
    <tr>
      <td><%= approval.user_id %></td>
      <td><%= approval.skill_master_id %></td>
      <td><%= approval.date %></td>
      <td><%= link_to '承認', company_path, method: :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>


<!-- 拒否 -->
<h3>拒否されました。</h3>
<table>
<thead>
  <tr>
    <th>user_id</th>
    <th>skill</th>
    <th>date</th>
  </tr>
</thead>

<tbody>
  <% @Denial.each do |denial| %>
    <tr>
      <td><%= denial.user_id %></td>
      <td><%= denial.skill_master_id %></td>
      <td><%= denial.date %></td>
      <td><%= link_to '確認', company_path, method: :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>


<!-- 評価待ち -->
<h3>評価してください。</h3>
<table>
<thead>
  <tr>
    <th>user_id</th>
    <th>skill</th>
    <th>date</th>
  </tr>
</thead>

<tbody>
  <% @Score.each do |score| %>
    <tr>
      <td><%= score.user_id %></td>
      <td><%= score.skill_master_id %></td>
      <td><%= score.date %></td>
      <td><%= link_to '評価', company_path, method: :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>
