<p id="notice"><%= notice %></p>
<h1>ようこそ<%=@companies.id %>さん</h1>

<table>
  <tr> <th align='left'>企業ID</th> <td><%= @usr.id %></td> </tr>
  <tr> <th align='left'>企業名</th> <td><%= @usr.name %></td> </tr>
</table>

<!-- 申請中 -->
<h3>申し込み中</h3>
  <table border="5" frame="box">
  <thead>
    <tr>
      <th>名前</th>
      <th>スキル名</th>
      <th>日付</th>
    </tr>
  </thead>

  <tbody>
    <% @Applyings.each do |applying| %>
      <tr>
        <td><%= applying.name %></td>
        <td><%= applying.skilltype %></td>
        <td><%= applying.date %></td>
        <td><%= link_to '取り消し', "/company/destroy/" + applying.id.to_s, method: :delete, data: { confirm: '講師'+applying.name+'さんの申請を取り消しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 承認待ち -->
<h3>承認済み</h3>
<p>＊終了した講師は講義終了ボタンを押して更新してください</p>
<table border="5" frame="box">
<thead>
  <tr>
    <th>名前</th>
    <th>スキル名</th>
    <th>日付</th>
  </tr>
</thead>

<tbody>
  <% @Approval.each do |approval| %>
    <tr>
      <td><%= approval.name %></td>
      <td><%= approval.skilltype %></td>
      <td><%= approval.date %></td>
      <td><%= link_to '講義終了', "/company/" + approval.id.to_s, method: :update2 %></td>
    </tr>
  <% end %>
</tbody>
</table>

<!-- 拒否 -->
<h3>拒否されました。</h3>
<table border="5" frame="box">
<thead>
  <tr>
    <th>名前</th>
    <th>スキル名</th>
    <th>日付</th>
  </tr>
</thead>

<tbody>
  <% @Denial.each do |denial| %>
    <tr>
      <td><%= denial.name %></td>
      <td><%= denial.skilltype %></td>
      <td><%= denial.date %></td>
      <td><%= link_to '確認', "/company/destroy/" + denial.id.to_s, method: :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>


<!-- 評価待ち -->
<h3>評価してください。</h3>
<table border="5" frame="box">
<thead>
  <tr>
    <th>名前</th>
    <th>スキル名</th>
    <th>日付</th>
  </tr>
</thead>

<tbody>
  <%= form_tag(controller: :company, action: :update, method: :post) do %>
  <% @Score.each do |key| %>

    <tr>
      <td><%= key.name %></td>
      <td><%= key.skilltype %></td>
      <td><%= key.date %></td>
      <td><%= select_tag "statusID"+ key.id.to_s, options_for_select([0, 1, 2, 3, 4, 5]) %></td>
    </tr>
  <% end %>
  <% end %>
</tbody>
<p><%= submit_tag '評価する' %></p>
</table>

<%= link_to '検索ページへ', '/company/search' %>
