
<!-- <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %> -->
<!-- count=<%= flash.count %> -->
<!-- <p>abc<%= flash[:msg] %></p> -->

<p style="color: Red"><%= @error %></p>

<%= form_tag action: :auth do %>
  <div class="field">
    <%= label_tag :mail_address, 'メールアドレス' %><br />
    <%= text_field_tag :mail_address ,'', size: 20 %>
  </div>
  <div class="field">
    <%= label_tag :password, 'パスワード' %><br />
    <%= password_field_tag :password, '', size: 20 %>
  </div>
  <!--ログイン後にリダイレクトすべきアクションを隠しフィールドにセット-->
  <%= hidden_field_tag :referer, flash[:referer] %>
  <%= submit_tag 'ログイン' %>
<% end %>

<!--新規登録フォーム-->
<div>
  新規登録はコチラ
  <%= link_to '講師用' , controller: "users", action: "new", usertype: 0 %>
  <%= link_to '企業用' , controller: "users", action: "new", usertype: 1 %>
</div>
